%hover {
  @include font-size(12);
  font-weight: 500;
  text-transform: uppercase;
}

.ltco_navbar_header {
  background-color: transparent;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: $zindex-sticky;
  border-bottom: 1px solid rgba(ltco_color('white'), .1);

  .navbar-brand {
    @include media-breakpoint-down(md) {
      margin-right: 0;

      img {
        width: 160px;
      }
    }

    img {
      pointer-events: none;
    }
  }

  .navbar-toggler {
    background-color: transparent;
    border: none;
    outline: none;

    color: ltco_color('white');
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;

    height: 85px;
    margin: -1rem 0;

    @include transition($transition-base);
    @extend %hover;

    *:first-child {
      margin-right: 0.5rem;
      width: 30px;
      height: 30px;
    }

    @include media-breakpoint-down(sm) {
      margin-left: auto;
    }

    @include media-breakpoint-up(md) {
      margin-right: auto;
      width: 160px;
    }

    &[aria-expanded="true"] {
      background-color: ltco_color('green-dark');
    }
  }

  &__navbar_visible {
    display: flex;
    align-items: center;

    a {
      color: ltco_color('white');
      padding: 0.5rem 1rem;
      @include transition($transition-base);
      @extend %hover;

      @include media-breakpoint-down(md) {
        padding: 0.5rem;
      }
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }

    .divider {
      background-color: ltco_color('white');
      width: 1px;
      height: 16px;
      display: inline-block;
      opacity: 0.1;
    }
  }

  &__collapse {
    .navbar-wrapper {
      background-color: ltco_color('green-dark');
      overflow: auto;
      position: fixed;
      display: block;
      top: 86px;
      left: 0;
      width: 100%;
      transform: translate3d(-100%, 0, 0);
      transition: all 500ms ease;
      z-index: 9999;
      max-height: 100%;
      @extend .pt-5;

      @include media-breakpoint-up(sm) {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 1fr;
      }

      @include media-breakpoint-down(xs) {
        height: 100vh;
      }
    }

    &:before {
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: fixed;
      display: block;
      background-color: rgba(ltco_color(), .5);
      transition: all 500ms ease;
      z-index: 9998;
      cursor: pointer;
    }

    &.collapsing {
      transition-property: all;

      &:before {
        opacity: 0;
      }
    }

    &.show {
      &:before {
        opacity: 1;
      }

      .navbar-wrapper {
        transform: translate3d(0, 0, 0);
      }
    }

    & .navbar-wrapper .nav {
      flex-direction: column;

      @include media-breakpoint-up(sm) {
        grid-column: 2 / -1;
        margin-right: 2rem;
      }

      .nav-item {
        .nav-link {
          padding: 0.4rem 1rem;
          color: ltco_color('yellow');
          font-weight: 700;
          @include transition($transition-base);

          &:hover {
            color: ltco_color('yellow');
          }
        }

        &.active .nav-link {
          font-weight: 700;
          color: ltco_color('white');
          background-color: lighten(ltco_color(), 6%);
        }
      }
    }

    .dropdown-menu {
      background-color: ltco_color('yellow-light');
    }

    &__footer {
      @extend .p-3;
      @extend .pb-4;
      @extend .py-4;

      @include media-breakpoint-up(sm) {
        grid-column: 2 / -1;
      }

      .ltco_social > * + * {
        margin-left: 0.75rem;
      }
    }
  }
}
