.ltco_contact_us {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    gap: 6rem;
  }

  &__aside {
    width: 100%;

    @include media-breakpoint-up(lg) {
      max-width: 350px;
    }

    &__nav {
      background-color: ltco_color('gray-100');
      border: 1px solid ltco_color('gray-500');
      padding: 2rem;
      display: flex;
      flex-direction: column;

      button {
        background-color: transparent;
        color: ltco_color('gray-700');
        padding: 1rem;
        border: none;
        position: relative;
        display: block;
        text-align: left;

        & + * {
          margin-top: 0.5rem;
        }

        &:after {
          content: '';
          background-color: ltco_color('yellow');
          width: 0;
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 1rem;
          transition: all 200ms ease-in-out;
          pointer-events: none;
        }

        &:hover {
          text-decoration: none;
        }

        &:focus {
          outline: none;
        }

        &:hover:after,
        &.active:after {
          width: calc(100% + 2rem);
        }
      }
    }
  }

  &__form {
    flex: 1;
  }
}
