.ltco_enterprises {
  position: relative;
  z-index: 1;

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    padding-left: 0;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(lg) {
      gap: 3rem;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(3, 1fr);
    }

    &__item {
      position: relative;
      list-style: none;
      overflow: hidden;

      .ltco_badge {
        width: 110px;
        height: 100px;
        display: block;
        position: absolute;
        top: -45px;
        left: -40px;
        z-index: 1;
        transform: rotate(-45deg);

        font-weight: bold;
        color: #fff;
        top: 25px;
        left: 25px;
        text-align: center;
        line-height: 1;

        &:before {
          content: '';
          background-color: ltco_color('main-300');
          width: 200px;
          height: 110px;
          display: block;
          position: absolute;
          transform: rotate(15deg) skewY(-15deg);
          border-bottom-left-radius: 40px;
          z-index: -1;
          top: -61px;
          left: -11px;
        }

        &.greenColor:before {
          background-color: lighten(saturate(ltco_color(), 20%), 20%);
        }
        &.redColor:before {
          background-color: theme-color('danger');
        }
      }

      &.error {
        grid-column: 1 / -1;
        text-align: center;
      }

      &__wrapper {
        display: grid;
        gap: 1rem;

        .image {
          @extend %backgroundCover;
          @include aspect-ratio();
          position: relative;
          margin-bottom: 0;

          @include media-breakpoint-up(xl) {
            height: 250px;
          }

          @include media-breakpoint-up(xxl) {
            height: 300px;
          }

          span {
            background-color: rgba(ltco_color(), 0.75);
            @extend %fullPosition;
            z-index: 1;
            opacity: 0;
            transition: opacity 200ms ease-in-out;

            color: ltco_color('white');
            text-transform: uppercase;
            @include font-size(18);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:before {
              content: '';
              background-image: url('#{$ltco_path_svgs}/icon-more.svg');
              background-size: 100% 100%;
              width: 38px;
              height: 38px;
              margin-bottom: 1rem;
            }
          }
        }

        .title {
          @include font-size(18);
          font-weight: normal;
          text-align: center;
        }

        &:hover {
          text-decoration: none;

          figure span {
            opacity: 1;
          }
        }
      }
    }
  }
}
