.ltco_our_business {
  &__cta {
    background-color: ltco_color('orange-100');
    @extend %ctaContainer;
  }

  &__triade {
    @extend%triadeWrapper;

    &__item {
      background-color: ltco_color('gray-100');
      border: 1px solid ltco_color('gray-500');
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 4rem 3rem;
      gap: 1rem;
      margin-bottom: 1px;

      img {
        max-height: 90px;
      }

      .heading,
      .content {
        text-align: center;
        margin-bottom: 0;
      }
    }
  }
}
